::ng-deep .bs-datepicker-head {
    background-color: #5cb85c;
    min-width: 270px;
    height: 50px;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    text-align: justify;
  }
  
  ::ng-deep .bs-datepicker-head::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  
  ::ng-deep .bs-datepicker-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    min-height: 232px;
    min-width: 278px;
    border: 1px solid #e9edf0;
  }
  
  ::ng-deep .bs-datepicker-head button.previous, .bs-datepicker-head button.next {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  }
  
  ::ng-deep .bs-datepicker-head button {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 0;
    background: 0 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: .3s;
  }
  
  ::ng-deep .bs-datepicker-head button.current {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
  }
  
  ::ng-deep .bs-datepicker-head button.next span, ::ng-deep .bs-datepicker-head button.previous span {
    font-size: 28px;
    line-height: 1;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  ::ng-deep .bs-datepicker-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    min-height: 232px;
    min-width: 278px;
    border: 1px solid #e9edf0;
  }
  
  ::ng-deep .bs-datepicker-body .days.weeks {
    position: relative;
    z-index: 1;
  }
  
  ::ng-deep .bs-datepicker-body table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  ::ng-deep .bs-datepicker-body table th {
    font-size: 13px;
    color: #9aaec1;
    font-weight: 400;
    text-align: center;
  }
  
  ::ng-deep .bs-datepicker-body table td::before, ::ng-deep .bs-datepicker-body table td span::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    inset: 6px -2px 6px -3px;
    box-sizing: content-box;
    background: 0 0;
  }
  
  ::ng-deep .bs-datepicker-body table td {
    color: #54708b;
    text-align: center;
    position: relative;
    padding: 0;
  }
  
  ::ng-deep .bs-datepicker .bs-timepicker-in-datepicker-container {
    display: flex;
    justify-content: space-around;
  }
  
  ::ng-deep .bs-datepicker-container {
    padding: 15px;
  }
  
  ::ng-deep bs-datepicker-container {
    z-index: 1080; 
    display: block;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(282px, 28399px, 0px); 
  }
  
  ::ng-deep .bs-datepicker::after {
    clear: both;
    content: "";
    display: block;
  }
  
  ::ng-deep .bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    position: relative;
    z-index: 1;
  }
  
  ::ng-deep .bs-datepicker-head button.previous span {
    transform: translate(-1px,-1px);
  }
  
  ::ng-deep .bs-datepicker-head button.next span {
    transform: translate(1px,-1px);
  }
  
  ::nd-deep .theme-green .bs-datepicker-body table td span.selected {
    background-color: #5cb85c !important;
  }
  
  ::nd-deep .bs-datepicker-body table td:not(.disabled):not(.week) span:not(.disabled):not(.is-other-month) {
    cursor: pointer;
  }
  
  ::nd-deep .bs-datepicker-body table.days span {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  
  ::nd-deep .bs-datepicker-body table td span {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    border-radius: 50%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  ::nd-deep .bs-datepicker-body table td span.selected, .bs-datepicker-body table td.selected span {
    color: #fff;
  }
  
  ::ng-deep .bs-datepicker .bs-media-container {
    display: flex;
  }
  
  ::ng-deep .bs-datepicker-body table td.week span {
    color: #5cb85c;
  }