<div class="card">
    <div class="card-header">
        <h3>Create Sensor</h3>
    </div>
    <div class="card-body">

        <form [formGroup]="sensorFormGroup">    
          <div class="row">
            <div class="col-md-5">
              <input type="text" placeholder="Enter sensor name" class="form-control" formControlName="sensorName" />            
            </div>
            <div class="col-md-5">              
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="gateName" readonly/>         
                <input type="hidden" class="form-control" formControlName="gateId"/>            
                <button class="btn btn-primary" (click)="showGateModal()">
                  Gates
                </button>  
              </div>  
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary d-flex justify-content-end" type="submit" (click)="createOrEditSensor()" [disabled]="sensorFormGroup.invalid">
                Submit
                </button>    
            </div> 
          </div>            
        </form>

        <table class="table">
            <thead>
              <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Gate Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sensor of sensorDetails">               
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="editSensor(sensor)">
                            <span><i class="me-2 fas fa-edit"></i></span>Edit
                          </a>
                          <a class="dropdown-item" (click)="deleteSensor(sensor.id)">
                            <span><i class="me-2 fa-solid fa-trash"></i></span>Delete
                          </a>
                        </div>
                      </div>
                </td>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.gateDetails.name }}</td>
              </tr>
            </tbody>
          </table>

          <app-pagination [totalCount]="totalCount" (pageChangedEvent)="pageChanged($event)"></app-pagination>
        
    </div>
</div>
