<div class="card">
    <div class="card-header">
        <h3>Gate Exits</h3>
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
              <tr>
                <th>Actions</th>
                <th>Gate Name</th>
                <th>Number of people</th>
                <th>TimeStamp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gateExit of gateExits">
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="editGateExit(gateExit)">
                            <span><i class="me-2 fas fa-edit"></i></span>Edit
                          </a>
                          <a class="dropdown-item" (click)="deleteGateExit(gateExit.id)">
                            <span><i class="me-2 fa-solid fa-trash"></i></span>Delete
                          </a>
                        </div>
                      </div>
                </td>
                <td>{{ gateExit.gateName }}</td>
                <td>{{ gateExit.numberOfPeople }}</td>
                <td>{{ gateExit.timeStamp | date: 'short' }}</td>
              </tr>
            </tbody>
          </table>

          <app-pagination [totalCount]="totalCount" (pageChangedEvent)="pageChanged($event)"></app-pagination>
    </div>
</div>
