<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="loginForm">
                <div class="mb-3">                    
                    <input type="email" placeholder="Enter login email" class="form-control" formControlName="email"/>
                </div>        
                <div class="mb-3">
                    <input type="password" placeholder="Enter login password" class="form-control" formControlName="password" />
                </div>                
                <div class="col-md-1">
                    <button class="btn btn-primary d-flex justify-content-end" type="submit" (click)="login()" [disabled]="loginForm.invalid">
                      Submit
                      </button>    
                  </div> 
            </form>
        </div>
    </div>
</div>
