<div class="form-check"  *ngIf="isCheckBoxSelection" >
  <input class="form-check-input"    
    type="checkbox"         
    (change)="selectAll($event)">
  <label class="form-check-label" for="flexCheckDefault">
    Select All
  </label>
</div>

<table class="table">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gate of gates">
        <td *ngIf="isActionEnabled">
            <button class="btn btn-primary" (click)="editGate(gate)"><span><i class="me-2 fas fa-edit"></i></span>Edit</button>
            <button class="ms-2 btn btn-danger" disabled (click)="deleteGate(gate.id)"><span><i class="me-2 fa-solid fa-trash"></i></span>Delete</button>
        </td>
        <td *ngIf="isSelectionEnabled">
            <input *ngIf="isRadioSelection" 
              type="radio" 
              class="form-Control" 
              [checked]="gate.id == selectedGateId"
              (change)="radioChanged(gate)">
            <input *ngIf="isCheckBoxSelection" 
              type="checkbox" 
              class="form-Control"          
              (change)="checkBoxChanged(gate)"
              [checked]="selectedGateIdsKeyValue[gate.id]"> 
               <!-- [checked]="selectedGateIdsKeyValue[gate.id]" -->
        </td>
        <td>{{ gate.name }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination [totalCount]="totalCount" (pageChangedEvent)="pageChanged($event)"></app-pagination>