<!-- <div class="modal fade" bsModal #gateModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">List of gates</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="gateModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gate-list-view [isSelectionEnabled]="true" #gateListViewComponent
            [gates]="gates"
            [totalCount]="totalCount"
            [isRadioSelection]="isRadioSelection"
            [isCheckBoxSelection]="isCheckBoxSelection"
            [selectedGateId]="selectedGateId"
            (radioSelected)="selectedGate($event)"
            (pageClicked)="pageChanged($event)">             
        </app-gate-list-view>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="gateModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div> -->


<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-gate-list-view [isSelectionEnabled]="true" #gateListViewComponent
      [gates]="gates"
      [totalCount]="totalCount"
      [isRadioSelection]="isRadioSelection"
      [isCheckBoxSelection]="isCheckBoxSelection"
      [selectedGateId]="selectedGateId"    
      (radioSelected)="selectedGate($event)"
      (pageClicked)="pageChanged($event)">   
      <!-- [selectedGateIds]="selectedGateIds"           -->
  </app-gate-list-view>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
</div>


