<div class="container">
    <div class="row">
        <div class="col-md-3 m-5">

        <div class="card" style="width: 18rem;">
            <div class="card-header">
            Gates
            </div>
            <div class="card-body">
            <h5 class="card-title">List of gates</h5>
            <a routerLink="/gates">
                <button class="btn btn-primary">
                Go to gates
                </button>
            </a>
            </div>
        </div>
        </div>

        <div class="col-md-3 m-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
            Gate entries
            </div>
            <div class="card-body">
            <h5 class="card-title">List of gate entries</h5>                
            <a routerLink="/gate-entries">
                <button class="btn btn-primary">
                Go to gate entries
                </button>
            </a>
            </div>
        </div>
        </div>

        <div class="col-md-3 m-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
            Gate exits
            </div>
            <div class="card-body">
            <h5 class="card-title">List of gate exits</h5>                
            <a routerLink="/gate-exits">
                <button class="btn btn-primary">
                Go to gate exits
                </button>
            </a>
            </div>
        </div>
        </div>

        <div class="col-md-3 m-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
            Sensors
            </div>
            <div class="card-body">
            <h5 class="card-title">List of sensors</h5>                
            <a routerLink="/sensors">
                <button class="btn btn-primary">
                Go to sensors
                </button>
            </a>
            </div>
        </div>
        </div>

        <div class="col-md-3 m-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
            Sensor with details
            </div>
            <div class="card-body">
            <h5 class="card-title">List of sensor with details</h5>                
            <a routerLink="/sensor-with-details">
                <button class="btn btn-primary">
                Go to sensor with details
                </button>
            </a>
            </div>
        </div>
        </div>
        
    </div>
    
</div>
       


