<div class="container">
    <div class="row">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <a routerLink="/gates">
          <button class="btn btn-primary">
            Gates
          </button>
        </a>
        
        <a routerLink="/gate-entries">
          <button class="btn btn-primary">
            Gate entries
          </button>
        </a>

        <a routerLink="/gate-exits">
            <button class="btn btn-primary">
              Gate exits
            </button>
          </a>
          
          <a routerLink="/sensors">
            <button class="btn btn-primary">
              Sensors
            </button>
          </a>

          <a routerLink="/sensor-with-details">
            <button class="btn btn-primary">
              Sensor with details
            </button>
          </a>

      </div>
    </div>
  </div>