<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row nonLogin_Center_Content">
        <div class="col-md-12 mb-4">
            <h2>Create account</h2>
        </div>
        <div *ngFor="let error of errors">
            <div class="text-xs p-2">{{error.description}}</div>
        </div>
        <div class="col-md-12">
            <form [formGroup]="registerForm">
                <div class="mb-3">                    
                    <input type="text" placeholder="Fullname" class="form-control" formControlName="fullName"/>
                </div>     
                <div class="mb-3">                    
                    <input type="email" placeholder="Email" class="form-control" formControlName="email"/>
                </div>        
                <div class="mb-3">
                    <input type="password" placeholder="Password (Minimum 6 characters)" class="form-control" formControlName="password" />
                </div>   
                <div class="mb-3">
                    <input type="password" placeholder="Confirm password" class="form-control" formControlName="confirmPassword" />
                </div>   
                <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
                    Passwords do not match
                  </div>                     
                <div class="col-md-1 float-end">
                    <button class="btn btn-primary" type="submit" (click)="register()" [disabled]="registerForm.invalid">
                      Submit
                      </button>    
                  </div> 
            </form>
        </div>
    </div>
</div>
